<!DOCTYPE html>
<html lang="en">
<head>
	<title>Annotation Interface</title>
	<link rel="stylesheet" type="text/css" href="/templates/interface/assets/css/main.css">
	<style>
	li{
		margin-bottom: 7px;
	}
	#sound-classes{
		background-color: aliceblue;
		display: table;
		margin: 0 auto;
	}
	</style>
</head>
<body id = "body">
	<div class="container-3D"> 
		<div id="title" style="position:absolute; color:#eeeeee; top:0px; font-size:50px;">Practice Round</div>
		<div id="3d-head" width="400"></div>
	</div>
	<div class="container" id = "container">
		<div>
			<button id="message">Instructions</button>
			<button id="key-message">Keyboard Rules</button>
			<h3>Please listen to the audio and<br>localize the sound</h3>
			<audio id="audio" controls style="display: none;"><source id = "source" type="audio/wav">Your browser does not support audio</audio>
			<button id="audio-frame">Play Audio</button>
			<div id="2d" style="margin-top: 5px;">
				<div id="head-wrapper" style="display: none;"><div style="font-weight:bold; font-size:13px; color:blue; text-align: center;">Top View</div>
					<div id="head" style="background-image: url('/templates/interface/img/head.png');">
						<div class="circular" id="circular"></div>
						<div class="circular" id="circular1" style="display: none;"><div class="indicator" id="head-item-1" style="display: none;">1</div></div>
					</div>
				</div>
				<div id="feedback" style="visibility: hidden;">
					<div id='azimuth-dot'></div>horizontal location:<br>
					<button id='azimuth-minus'>-</button>
					<div id='p-azimuth'></div>
					<button id='azimuth-plus'>+</button><br><br>

					<div id='elevation-dot'></div>vertical location:<br>
					<button id='elevation-minus'>-</button>
					<div id='p-elevation'></div>
					<button id='elevation-plus'>+</button>
				</div><br>
				<div id="front-wrapper" style="display: none;"><div style="font-weight:bold; font-size:13px; color:blue; text-align: center;">Back View</div>
					<div id="front" style="background-image: url('/templates/interface/img/front.png');">
						<div class="circular" id="circularF"></div>
						<div class="circular" id="circularF1" style="display: none;"><div class="indicator" id="front-item-1" style="display: none;">1</div></div>
					</div>
				</div>
				<div id="side-wrapper" style="display: none;"><div style="font-weight:bold; font-size:13px; color:blue; text-align: center; z-index:1;">Side View</div>
					<div id="side" style="background-image: url('/templates/interface/img/side.png');">
						<div class="circular" id="circularS"></div>
						<div class="circular" id="circularS1" style="display: none;"><div class="indicator" id="side-item-1" style="display: none;">1</div></div>
					</div>
				</div>
			</div>
			<input id="btn-button-next" type="button" name="btn-button-next" value="NEXT" onclick="ajax_next(false, 0)" style="float:right; display: none;">
			<input id="btn-button-submit" type="submit" name="btn-button-submit" value="SUBMIT" onclick="ajax_next(false, 1)" style="float:right; display: none;">
			<!-- <input id="btn-button-again" type="submit" name="btn-button-again" value="PRACTICE AGAIN" onclick="ajax_next(true, 0)" style="float:left; display: none;"> -->

			<div id="modal">
				<div class="instructions">
					<button class="move" id="instruction-left" style="margin-right: 20px;">&#8249;</button>
					<div id="instruction1" style="margin: 0 auto;">
						<p style="font-size: 17px;">&nbsp;</p>
						<div>
							<h2 style="text-align: center; color: blue; margin-top: 3vh;">Annotation Interface Instructions</h2><br>
							<p style="font-size: 20px;">
								This task consists of localizing one sound<br><br>
								You will be asked to listen to 28 recordings and localize each sound
							</p>
							<h3 style="text-align: center;">
								<br>We expect this task to take around 25 minutes of your time.<br>You will be paid $6.5 for completing the task.
							</h3>
						</div>
					</div>
					<div id="instruction2" style="display: none;">
						<p style="font-size: 17px;">Page 1 / 4</p>
						<h3 style="text-align: center; color: blue;">Noise Bursts Annotation Interface Instructions</h3>
						<video id="instruction-video-1" style="width:70%; display: block; margin: auto;">
							Your browser does not support video
							<source src="/templates/interface/img/1.mp4" type="video/mp4">
						</video>
						<ul>
							<li>
								Press the Play button to listen to the audio recording.
							</li>
							<li>
								You can use the text box to take notes. 
								It might help you when localizing the sound.
							</li>
							<li>
								You may listen to the audio as many times as you want.
							</li>
						</ul>
					</div>
					<div id="instruction3" style="display: none;">
						<p style="font-size: 17px;">Page 2 / 4</p>
						<h3 style="text-align: center; color: blue;">Noise Bursts Annotation Interface Instructions</h3>
						<!-- <img src="/templates/interface/img/2.png" style="width:70%; display: block; margin: auto;"> -->
						<video id="instruction-video-2" style="width:70%; display: block; margin: auto;">
							Your browser does not support video
							<source src="/templates/interface/img/2.mp4" type="video/mp4">
						</video>
						<ul>
							<li>
								You will see 4 spatial displays: a 2D "top view" display on which you can annotate the horizontal spatial location; 
								a 2D “back view” display on which you can annotate the vertical spatial location if a sound is to either side of you; 
								a “side  view” display on which you can annotate the vertical spatial location if a sound is in front or behind you;
								and a rotatable 3D view which is just for displaying the spatial location annotations you create.
							</li>
						</ul>
					</div>
					<div id="instruction4" style="display: none;">
						<p style="font-size: 17px;">Page 3 / 4</p>
						<h3 style="text-align: center; color: blue;">Noise Bursts Annotation Interface Instructions</h3>
						<!-- <img src="/templates/interface/img/3.png" style="width:70%; display: block; margin: auto;"> -->
						<video id="instruction-video-3" style="width:70%; display: block; margin: auto;">
							Your browser does not support video
							<source src="/templates/interface/img/3.mp4" type="video/mp4">
						</video>
						<ul>
							<li>To add a new annotation press key Option or Alt and click on the desired 2D view.</li>
							<li>To remove an annotation press key Control or Ctrl and click on the desired annotation.</li>
							<li>You can always see the rules in the "Keyboard Rules" button.</li>
							<li>
								To annotate the spatial location of the sound, you must select a horizontal spatial location and a vertical spatial location.
							</li>
						</ul>
					</div>
					<div id="instruction5" style="display: none;">
						<p style="font-size: 17px;">Page 4 / 4</p>
						<h3 style="text-align: center; color: blue;">Noise Bursts Annotation Interface Instructions</h3>
						<!-- <img src="/templates/interface/img/4.png" style="width:70%; display: block; margin: auto;"> -->
						<video id="instruction-video-4" style="width:70%; display: block; margin: auto;">
							Your browser does not support video
							<source src="/templates/interface/img/4.mp4" type="video/mp4">
						</video>
						<p>If you need to adjust the location of the sound, you may click on the desired point and move it, or use the + and - buttons.</p>
						<h3 style="text-align: center; color: blue;">You will go through a practice round first, consisting of 7 recordings.</h3>
					</div>
					<span id="sign" style="visibility: hidden;">&times;</span>
					<button class="move" id="instruction-proceed" style="margin-left: 20px; font-size: 30px; padding:11px; display: none;">
						C<br>L<br>I<br>C<br>K<br><br>T<br>O<br><br>S<br>T<br>A<br>R<br>T
					</button>
					<button class="move" id="instruction-right" style="margin-left: 20px;">&#8250;</button>
				</div>
			</div>
		</div>
		<div style="margin-left: 10px;">
			<div style="font-size: 14px; color:blue; text-align:center; font-weight:bold;">You May Take Notes Here</div>
			<textarea id="user_note" style="z-index: 1;"></textarea>
		</div>
	</div>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.js"></script>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
	<script src="/templates/interface/assets/js/interface.js"></script>
	<script type="text/javascript">
		if (localStorage.getItem('stereo') != '1' && localStorage.getItem('headphone') != '1'){
			window.location = '/templates/interface/incomplete.html';
		}
		document.body.style.cursor='wait';
		window.onload = function(){
			document.body.style.cursor='default';
		}
	</script>
</body>
</html>